<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
	<properties>
		<property name="LOG_HOME">/home/zhoucl/logs</property>
		<!-- 日志备份目录 -->
		<property name="BACKUP_HOME">{LOG_HOME}/backup</property>
		<property name="DEV_NAME">dev</property>
		<property name="SRV_NAME">srv</property>
	</properties>
	
	<Appenders>
	    <!-- 输出到控制台的配置 -->  
	    <Console name="STDOUT" target="SYSTEM_OUT">  
			<!-- 输出格式 -->  
			<PatternLayout pattern="%d %-5p %C (%F:%L) - %m%n"/>  
	    </Console>
	    
	    <!-- 配置日志输出文件名字     追加读写 -->  
	    <File name="DEV" fileName="${LOG_HOME}/${DEV_NAME}-A1.log" append="true">  
			<!-- 输出格式 -->  
			<PatternLayout pattern="%d %-5p %C (%F:%L) - %m%n"/>  
	    </File>  
	    
	    <RollingRandomAccessFile name="SRV" fileName="${LOG_HOME}/${SRV_NAME}" filePattern="${LOG_HOME}/${SRV_NAME}.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	
	<Loggers>
		<!-- 配置记录器级别 -->
		<Root level="INFO">
			<!-- 输出设置 -->
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="DEV" />
			<AppenderRef ref="SRV" />
		</Root>
	</Loggers>
</Configuration>